.huddl-logo {
  width: 400px;
  height: auto;
  z-index: 2;
  position: relative;
  opacity: 0.75;
  filter: drop-shadow(0 0 2px rgb(192, 241, 250))
          drop-shadow(0 0 4px rgb(252, 253, 241))
          drop-shadow(0 15px 35px rgba(60, 6, 210, 0.25));
}

/* Tablet and below */
@media (max-width: 768px) {
  .huddl-logo {
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .huddl-logo {
    width: 200px;
  }
}
