.huddl-logo {
  width: 300px;
  height: auto;
  z-index: 2;
  position: relative;
  opacity: 1;
  filter: brightness(0) invert(1);
}

/* Tablet and below */
@media (max-width: 768px) {
  .huddl-logo {
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .huddl-logo {
    width: 200px;
  }
}
